<%= form_for @vehicle, :url =>{:action => "create", :id =>@vehicle} do |f| %>

    <div class="divs">
      <% if @vehicle.errors.any? %>
          <h2><%= @vehicle.errors.count %> errors prohibited this Vehicle from being saved:</h2>
          <ul>
            <% @vehicle.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
      <% end %> <hr>
      <label class="div_header">New vehicle</label> <hr>
      <div>
        <%= f.label "license:"%> <br> <%= f.text_field 'license' %> <br>
        <%= f.label "colour:"%> <br> <%= f.text_field 'colour' %> <br>
        <%= f.label "make:"%>  <br> <%= f.text_field 'make' %> <br>
        <%= f.label "model:"%> <br> <%= f.text_field 'model' %> <br>
        <%= f.label "Year:" %> <br> <%= f.text_field 'year' %> <br>
      </div>
      <hr>

      <div class="actions">
        <%= f.submit "Save changes" %>
<% end %>

<%= button_to 'Back', {:action => 'view'} ,:method => :get %>
</div>
</div>